<%= render 'shared/header' %>
<nav class="navbar   navbar-expand navbar-light  p-5 mb-0 ">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <% if (user_signed_in?) %>
        <i class="fa-solid fa-pen-fancy"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa-solid fa-trash-can-arrow-up"></i>
          <% else %>
        <li class="nav-item"> <a class="nav-link" href="#about">About</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#features">Features</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#features">Security</a> </li>
        <% end %>


    </ul>
  </div>
  <!-- Topbar Navbar -->
  <div class="navbar-nav ">
    <% if !(user_signed_in?) %>
      <div class="d-sm-flex align-items-center justify-content-between">
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-sm btn-primary' %>&nbsp;
          <%= link_to "Register", new_user_registration_path, class: 'btn btn-sm btn-primary' %>
      </div>
      <% else %>
        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow ">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.email %></span>
            <%= image_tag("undraw_profile", class: "img-profile rounded-circle",width:"70", height:"70") %>
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <%= link_to edit_user_registration_path,class: "dropdown-item" do%> <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Edit Your profile
              <%end%>
                <div class="dropdown-divider"></div>
                <%= link_to destroy_user_session_path,method: :delete,class: 'dropdown-item' do%> <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Log Out
                  <% end %>
        </li>
      </div>
        <% end %>
  </div>
</nav>

